body{
    background-color: pink;
    color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

newP{
    color: aquamarine;
    background-color: aqua;
    font-size: larger;
}
newHref{
    font-style: italic;
    color: antiquewhite;
}